OPENWEATHER_API_KEY=
DATA_GOV_API_KEY=
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/farmwise
DATA_GOV_RESOURCE_ID=9ef84268-d588-465a-a308-a864a43d0070
FRONTEND_ORIGIN=http://localhost:5173
